* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

input {
  border: none;
  font-size: 18px;
  padding-left: 10px;
  color: #999; }

body {
  background: #f5f6f8; }

.loginWrapper {
  width: 55%;
  margin: 0 auto; }

.headerWrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 10px; }

header {
  background-color: #3b5998;
  color: white;
  z-index: 1; }
  header .notFacebook {
    display: grid;
    grid-template-columns: .2fr 2fr;
    align-content: flex-end; }
  header img {
    display: block;
    width: 10.625rem; }
  header .loginForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: right; }
    header .loginForm .loginEmailContainer,
    header .loginForm .loginPasswordContainer,
    header .loginForm .loginPasswordContainer {
      justify-self: right;
      width: 170px;
      padding-left: 15px; }
      header .loginForm .loginEmailContainer input,
      header .loginForm .loginPasswordContainer input,
      header .loginForm .loginPasswordContainer input {
        width: 100%;
        height: 22px;
        font-size: 12px; }
      header .loginForm .loginEmailContainer p,
      header .loginForm .loginPasswordContainer p,
      header .loginForm .loginPasswordContainer p {
        font-size: 12px; }
    header .loginForm .loginEmailContainer {
      width: 170px;
      text-align: right; }
      header .loginForm .loginEmailContainer input {
        width: 100%;
        height: 22px;
        font-size: 12px; }
    header .loginForm label {
      display: block;
      text-align: left;
      font-size: 12px; }
    header .loginForm button {
      align-self: center;
      width: 45px;
      height: 22px;
      margin-left: 10px;
      border: none;
      background-color: #4167b2;
      color: inherit; }

.loginBodyWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px; }

.createAccountForm {
  width: 400px;
  justify-self: right; }
  .createAccountForm h1 {
    margin-bottom: 10px;
    color: #333333; }
  .createAccountForm .createAccountFormSubHeader {
    font-size: 19px;
    margin-bottom: 20px;
    font-weight: 100; }
  .createAccountForm .nameContainer {
    width: 100%; }
    .createAccountForm .nameContainer input {
      width: 195px;
      height: 30px;
      border-radius: 5px; }
    .createAccountForm .nameContainer input:first-child {
      float: left; }
    .createAccountForm .nameContainer input:last-child {
      float: right; }
  .createAccountForm .emailInput,
  .createAccountForm .newPasswordInput {
    width: 100%;
    border-radius: 5px;
    height: 30px;
    margin-top: 15px; }
  .createAccountForm .newPasswordInput {
    margin-bottom: 20px; }
  .createAccountForm .password2Input {
    margin-top: 0; }
  .createAccountForm .birthdayWrapper {
    margin-bottom: 16px; }
  .createAccountForm .birthdayLabel {
    display: block;
    font-size: 18px;
    margin-bottom: 10.5px; }
  .createAccountForm .birthdayInput {
    width: 60px;
    height: 27px; }
  .createAccountForm sub {
    font-size: 11px; }
  .createAccountForm .genderWrapper {
    padding-left: 10px;
    margin-bottom: 10px; }
    .createAccountForm .genderWrapper input {
      margin-right: 5px; }
    .createAccountForm .genderWrapper label {
      font-size: 18px; }
    .createAccountForm .genderWrapper .femaleLabel {
      margin-right: 15px; }
  .createAccountForm .terms {
    font-size: 11px;
    padding: 5px 80px 5px 0px;
    text-align: left;
    margin-bottom: 20px;
    color: #777777; }
  .createAccountForm button {
    width: 10rem;
    height: 34px;
    font-size: 19px;
    border: none;
    border-radius: 8px;
    background-color: #5e984b;
    color: white; }
  .createAccountForm hr {
    margin-top: 20px;
    margin-bottom: 20px; }

.intro {
  padding-top: 30px; }
  .intro h2 {
    color: #333333;
    font-size: 28px;
    margin-bottom: 40px; }

.seePhotos,
.share,
.findMore {
  display: flex;
  margin-bottom: 30px; }
  .seePhotos p,
  .share p,
  .findMore p {
    padding-top: 15px;
    padding-left: 20px; }

footer {
  background-color: #fff;
  height: 26vh;
  margin-top: 80px;
  font-size: 12px; }
  footer div {
    padding-top: 20px; }
  footer .languages {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black; }
    footer .languages li {
      padding-right: 10px; }
  footer .footerLinks {
    display: flex;
    flex-wrap: wrap; }
    footer .footerLinks li {
      padding-right: 10px; }
  footer .copyright {
    padding-top: 20px; }

.circularImageTest {
  width: 40px;
  height: 40px;
  background-image: url(https://zooeydeschanel.org/wp-content/uploads/2017/01/001.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 50%; }

.isInvalid {
  border: 1px solid red !important; }

.accountCreated {
  position: absolute;
  top: 0;
  width: 50%;
  height: 250px;
  margin: 15% 25%;
  z-index: 1;
  opacity: 5;
  transition: all ease-in 150ms;
  background-color: #3b5998; }

.accountCreatedFalse {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 250px;
  margin: 15% 25%;
  opacity: 0;
  z-index: -2;
  background-color: #3b5998; }

.accountCreatedContainer {
  background-color: rgba(0, 0, 0, 0.5); }

.dashboardHeader {
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0; }

.dashboardWrapper {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  max-width: 65%;
  margin-left: 10%;
  padding: 8px 0; }

.dashboardHeaderGridContainerLeft,
.dashboardHeaderGridContainerRight {
  display: flex; }

.dashboardHeaderGridContainerRight {
  justify-content: flex-end; }

.notFacebookLogo {
  background-color: white;
  width: 45px;
  border-radius: 3px;
  padding: 0 5px 0 5px; }
  .notFacebookLogo .notFacebookText {
    text-align: center;
    color: #3b5998;
    width: 100%; }

.searchForm {
  margin-left: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .searchForm .searchInput,
  .searchForm .searchSubmit {
    height: 26px; }
  .searchForm .searchInput {
    width: 450px; }
  .searchForm .searchSubmit {
    width: 25px;
    border: none;
    vertical-align: top; }

.headerAvatarContainer {
  display: flex; }

.headerAvatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #3b5998;
  align-self: center; }

.nameHeader,
.home,
.create,
.communications {
  align-self: center;
  border-right: 1px solid black; }

.nameHeader,
.home,
.create {
  font-size: 12px; }

.help {
  align-self: center;
  padding-right: 20px; }
  .help span {
    padding-left: 10px; }
    .help span i {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.5); }

.nameHeader {
  padding: 0 10px 0 5px; }

.home {
  padding: 0 10px; }

.create {
  padding: 0 10px; }

.communications {
  padding: 0 10px; }
  .communications span i {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5); }
  .communications .messenger {
    padding: 0 10px; }

.headerDropDown {
  align-self: flex-end; }
  .headerDropDown span i {
    color: rgba(0, 0, 0, 0.5); }

.logoutButton {
  border: none;
  border-radius: 15px;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  background-color: white;
  color: #3b5998;
  margin-bottom: 5px; }

.dashboardBodyWrapper {
  max-width: 65%;
  margin-top: 54px;
  margin-left: 10%;
  z-index: 1; }
  .dashboardBodyWrapper .dashboardBody {
    display: flex;
    margin-top: 10px; }
    .dashboardBodyWrapper .dashboardBody .leftSideContainer {
      padding: 0 5px; }
    .dashboardBodyWrapper .dashboardBody .left {
      position: fixed;
      width: 20%; }
      .dashboardBodyWrapper .dashboardBody .left p {
        padding-left: 15px;
        font-size: 14px; }
      .dashboardBodyWrapper .dashboardBody .left i {
        font-size: 15px; }
      .dashboardBodyWrapper .dashboardBody .left .newsFeed,
      .dashboardBodyWrapper .dashboardBody .left .leftMessenger,
      .dashboardBodyWrapper .dashboardBody .left .watch,
      .dashboardBodyWrapper .dashboardBody .left .marketplace,
      .dashboardBodyWrapper .dashboardBody .left .dragonCity,
      .dashboardBodyWrapper .dashboardBody .left .pages,
      .dashboardBodyWrapper .dashboardBody .left .groups,
      .dashboardBodyWrapper .dashboardBody .left .oculus,
      .dashboardBodyWrapper .dashboardBody .left .events,
      .dashboardBodyWrapper .dashboardBody .left .fundraisers,
      .dashboardBodyWrapper .dashboardBody .left .seeMore {
        padding-bottom: 5px; }
      .dashboardBodyWrapper .dashboardBody .left .newsFeed i {
        color: #5caee8; }
      .dashboardBodyWrapper .dashboardBody .left .leftMessenger i {
        color: #089cf4; }
      .dashboardBodyWrapper .dashboardBody .left .watch i {
        color: .dashboardBodyWrapper .dashboardBody .left .watch i primaryColor; }
      .dashboardBodyWrapper .dashboardBody .left .marketplace i {
        color: green; }
      .dashboardBodyWrapper .dashboardBody .left .dragonCity i {
        color: #57b8a5; }
      .dashboardBodyWrapper .dashboardBody .left .pages i {
        color: #dc412d; }
      .dashboardBodyWrapper .dashboardBody .left .groups i {
        color: #f9a159; }
      .dashboardBodyWrapper .dashboardBody .left .oculus i {
        color: #3983fe; }
      .dashboardBodyWrapper .dashboardBody .left .events i {
        color: #d63056; }
      .dashboardBodyWrapper .dashboardBody .left .fundraisers i {
        color: #202427; }
      .dashboardBodyWrapper .dashboardBody .left .seeMore i {
        color: #3983fe; }
      .dashboardBodyWrapper .dashboardBody .left .leftHeader {
        font-weight: 100;
        padding: 20px 0; }
      .dashboardBodyWrapper .dashboardBody .left .leftAvatarContainer {
        margin-bottom: 15px; }
        .dashboardBodyWrapper .dashboardBody .left .leftAvatarContainer .leftAvatar {
          border-radius: 50%;
          height: 25px;
          width: 25px;
          background-color: lightblue;
          overflow: hidden;
          padding-right: 5px; }
        .dashboardBodyWrapper .dashboardBody .left .leftAvatarContainer p {
          padding-left: 5px;
          align-self: center;
          font-size: 14px; }
    .dashboardBodyWrapper .dashboardBody .mid {
      width: 50%;
      margin-left: 20%; }
      .dashboardBodyWrapper .dashboardBody .mid .test {
        display: hidden; }
      .dashboardBodyWrapper .dashboardBody .mid .createPost {
        position: relative;
        width: 100%;
        height: 175px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: #fff; }
        .dashboardBodyWrapper .dashboardBody .mid .createPost .postHeader {
          height: 40px;
          font-size: 12px;
          padding: 8px 10px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.08);
          background-color: #eaebef; }
    .dashboardBodyWrapper .dashboardBody .right {
      position: relative;
      padding-left: 10px;
      width: 30%; }

.postContainer {
  width: 96%;
  height: 100%;
  margin: 0 auto; }
  .postContainer .postBody {
    display: flex;
    padding: 15px 0;
    height: 50%; }
    .postContainer .postBody .postBodyAvatar {
      width: 40px;
      height: 40px; }
    .postContainer .postBody .postBodyInput {
      width: 90%;
      height: 100%; }
      .postContainer .postBody .postBodyInput textarea {
        border: none;
        resize: none;
        width: 100%;
        height: 100%; }
      .postContainer .postBody .postBodyInput input[type="text"],
      .postContainer .postBody .postBodyInput input[type="password"],
      .postContainer .postBody .postBodyInput textarea,
      .postContainer .postBody .postBodyInput select {
        outline: none; }
      .postContainer .postBody .postBodyInput textarea[placeholder] {
        font-size: 20px;
        padding: 8px; }
  .postContainer .postOptions {
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    width: 96%;
    height: 50px; }
    .postContainer .postOptions .postButton {
      border: none;
      width: 100%;
      padding: 10px;
      border-radius: 15px;
      font-size: 18px;
      color: white;
      background-color: #3b5998; }

.postBodyAvatarContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; }

.posts {
  position: relative;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white; }

.postsBody {
  padding-top: 10px; }

.postedHeader {
  padding-top: 5px;
  height: 50px;
  background-color: #eaebef;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08); }

.postsHeaderGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 10px; }

.postsMenu {
  position: absolute;
  right: 15px;
  font-size: 1.2rem; }

.postsFeedback {
  min-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.postsActions {
  padding-top: 15px;
  min-height: 50px;
  color: rgba(0, 0, 0, 0.6); }
  .postsActions div {
    width: 33.33%;
    text-align: center; }
  .postsActions p {
    font-size: 18px; }

.commentAction {
  padding: 0 100px; }

.postsInput {
  padding-top: 5px;
  min-height: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2); }
  .postsInput input {
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px; }

.postCommentAvatar {
  width: 30px;
  height: 30px;
  margin-right: 10px; }

.deletePost {
  border: none;
  border-radius: 15px;
  background-color: #3b5998;
  color: white;
  padding: 5px;
  margin-top: 6px; }

.isFocused {
  position: relative;
  height: 26px;
  z-index: 4; }

.notFocusedAfter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease-in 300ms; }

.notFocusedBefore {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in 300ms; }

.postMenu {
  background-color: #3b5998;
  height: 100px;
  width: 100px; }

.isInvalidPost {
  border: 1px solid red; }

.flex {
  display: flex; }

.block {
  display: block; }

.testblock,
.testblock2 {
  height: 300px;
  margin-bottom: 5px; }

.testblock2 {
  position: sticky;
  top: 54px; }
