body {
    // background-color: #eaebef;
    background: #f5f6f8;

}

// HEADER
.loginWrapper {  
    width: 55%;
    margin: 0 auto;
}

.headerWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    padding-top: 15px;  
    padding-bottom: 10px;    
}

header {
    
    background-color: $primaryColor;
    color: white;
    z-index: 1;
    .notFacebook {
        display: grid;  
        grid-template-columns: .2fr 2fr;
        align-content: flex-end;
    }

    img {
        display: block;
        width: 10.625rem;
    }

    .loginForm {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-self: right;
        .loginEmailContainer,
        .loginPasswordContainer,

    
        .loginPasswordContainer {
            justify-self: right;
            width: 170px;
            padding-left: 15px;

            input {
                width: 100%;
                height: 22px;
                font-size: 12px;  

            }

            p {
                font-size: 12px;
            }
        }

        .loginEmailContainer {
            width: 170px;
            text-align: right;

            input {
                width: 100%;
                height: 22px;
                font-size: 12px;
            }
        }

        label {
            display: block;
            text-align: left;
            font-size: 12px;
        }

        button {
            align-self: center;
            width: 45px;
            height: 22px;
            margin-left: 10px;
            border: none;
            background-color: #4167b2;
            color: inherit;
        }
        
    }
}

.loginBodyWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}



.createAccountForm {
    
    width: 400px;
    justify-self: right;

    h1 {
        margin-bottom: 10px;
        color: #333333;
    }

    .createAccountFormSubHeader {
        font-size: 19px;
        margin-bottom: 20px;
        font-weight: 100;
    }

    .nameContainer {
        width: 100%;

        input {
            width: 195px;
            height: 30px;
            border-radius: 5px;
        }

        input:first-child {
            float: left;
        }

        input:last-child {
            float: right;
        }
    }

    .emailInput,
    .newPasswordInput {
        width: 100%;
        border-radius: 5px;
        height: 30px;
        margin-top: 15px;
    }

    .newPasswordInput {
        margin-bottom: 20px;
    }
    .password2Input{
        margin-top: 0;   
    }
    .birthdayWrapper {
        margin-bottom: 16px;
    }

    .birthdayLabel {
        display: block;
        font-size: 18px;
        margin-bottom: 10.5px;
    }

    .birthdayInput {
        width: 60px;
        height: 27px;
    }

    sub {
        font-size: 11px;
    }

    .genderWrapper {
        padding-left: 10px;
        margin-bottom: 10px;

        input {
            margin-right: 5px;
        }

        label {
            font-size: 18px;
        }

        .femaleLabel {
            margin-right: 15px;
        }
    }

    .terms {
        font-size: 11px;
        padding: 5px 80px 5px 0px;
        text-align: left;
        margin-bottom: 20px;
        color: #777777;
    }

    button {
        width: 10rem;
        height: 34px;
        font-size: 19px;
        border: none;
        border-radius: 8px;
        background-color: #5e984b;
        color: white;
    }
    hr{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

// INTRO
.intro {
    padding-top: 30px;
    h2 {
        color: #333333;
        font-size: 28px;
        margin-bottom: 40px;
    }
}
.seePhotos, 
.share,
.findMore{
    display: flex;
    margin-bottom: 30px;
    p{
        padding-top: 15px;
        padding-left: 20px;
    }
}
// Footer
footer{
    background-color: #fff;
    height: 26vh;   
    margin-top: 80px;
    font-size: 12px;    
    div{
        padding-top: 20px;  
    }
    .languages{
        display: flex;
        padding-bottom: 10px;   
        margin-bottom: 10px;   
        border-bottom: 1px solid black;
        li{
            padding-right: 10px;
        }
    }
    .footerLinks{
        display: flex;
        flex-wrap: wrap;
        li{
            padding-right: 10px;  
        }
    }
    .copyright{
        padding-top: 20px;   
    }

}
.circularImageTest{
    width: 40px;
    height: 40px;
    background-image: url(https://zooeydeschanel.org/wp-content/uploads/2017/01/001.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}
.isInvalid{

    border: 1px solid red !important;
}
.accountCreated{
    position: absolute;
    top: 0;
    width: 50%;
    height: 250px;
    margin: 15% 25%;  
    z-index: 1;
    opacity: 5;
    transition: all ease-in 150ms;
    background-color: $primaryColor;
}
.accountCreatedFalse{
    position: absolute;
    top: 0px;
    width: 50%;
    height: 250px;
    margin: 15% 25%;  
    opacity: 0;  
    z-index: -2;
    background-color: $primaryColor;
}
.accountCreatedContainer{
    // width: 100vw;
    // height: 100vh;
    background-color: rgba(0,0,0,.5);
}